<footer class="bg-dark text-center text-white mt-auto">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/AnimeTop102" target="_blank" role="button"
          ><i class="fa fa-twitter"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fa fa-instagram"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <img src="{{url_for('static', filename='images/logo.png')}}" alt="" height="100px">
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022
      <a class="text-white" href="{{url_for('index')}}">Anime-Top10</a>
    </div>
    <!-- Copyright -->
  </footer>