{% extends 'base.html' %}
{% block content %}
{% for messages in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
    
    
{% endfor %}
{% if name_to_update.id == current_user.id %}
<br>
    <h1>Update User</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-bodyrounded">
    <form action="/update/{{ name_to_update.id}}" method="post">
        {{ form.hidden_tag() }}
        {{form.name.label}}
        {{form.name(class="form-control", value=name_to_update.name)}}
        <br>
        {{form.email.label}}
        {{form.email(class="form-control", value=name_to_update.email)}}
        <br>
        {{form.favourite_anime.label}}
        {{form.favourite_anime(class="form-control", value=name_to_update.favourite_anime)}}
        <br>
        {{form.submit(class="btn btn-primary")}}
        <a href="{{url_for('delete', id=current_user.id)}}" class="btn btn-danger">Delete</a>
    </form>
    </div>
{% else %}
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    Access Denied, You can't edit this page
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
{% endblock %}